

h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px
}



@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoond41d.eot?#iefix) format('embedded-opentype'), url(../fonts/icomoon.woff) format('woff'), url(../fonts/icomoon.ttf) format('truetype'), url(../fonts/icomoon.svg#icomoon) format('svg');
    font-weight: 400;
    font-style: normal
}



.form-container,
.gform_wrapper {
    position: relative;
    margin: 0 auto;
    padding: 30px;
    max-width: 370px;
    border-radius: 2px;
    background: #fff url(../images/border-stripes.png) repeat-x;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.form-title,
.gform_title {
    margin-bottom: 24px;
    color: #242729;
    text-align: center
}

.field,
.gfield,
.gform_footer {
    margin-top: 12px
}

input[type=text],
input[type=submit],
textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px;
    font: 300 14px/18px pragmatica-web, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-appearance: none
}

input[type=text],
textarea {
    padding: 11px;
    border: solid 1px #d3d8db;
    background: #ebf1f5;
    color: #242729
}

input[type=text]:focus,
textarea:focus {
    outline: 0;
    border-color: #8dbbcc;
    background: #fff;
    box-shadow: 0 0 6px rgba(141, 187, 204, .6)
}

input[type=text].inactive,
textarea.inactive {
    color: #898d8f
}

textarea {
    height: 96px;
    resize: none
}

.gfield_label {
    display: block;
    padding: 6px 0;
    color: #242729;
    font-weight: 700
}

.checkbox_field {
    text-align: left;
    color: #242729
}

.checkbox_field label {
    user-select: none;
    cursor: pointer
}

.checkbox_field input {
    margin-right: 6px
}

.validation_error {
    display: none
}

.error,
.gfield_error {
    position: relative
}

.error input[type=text],
.gfield_error input[type=text],
.error textarea,
.gfield_error textarea {
    padding-right: 42px;
    border-color: #e64d34;
    box-shadow: 0 0 6px rgba(230, 77, 52, .3)
}

.error label,
.gfield_error label {
    position: relative
}

.error+.field,
.gfield_error+.field {
    margin-top: 0
}

.error:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    color: #e64d34;
    content: '\e014';
    text-align: center;
    font-size: 16px;
    font-family: icomoon;
    line-height: 42px
}

.gfield_error label:before {
    position: absolute;
    right: 0;
    bottom: -42px;
    width: 42px;
    height: 42px;
    color: #e64d34;
    content: '\e014';
    text-align: center;
    font-size: 16px;
    font-family: icomoon;
    line-height: 42px
}

.error-message,
.validation_message {
    color: #e64d34;
    text-align: left;
    font-size: 12px;
    line-height: 3
}

input[type=submit] {
    padding: 12px;
    border: 0;
    background: #e64d34;
    color: #fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: .2s
}

input[type=submit]:hover {
    background: #242729
}

input[type=submit][disabled] {
    background: #ccc;
    cursor: default
}

input[type=submit][disabled]:hover {
    background: #ccc
}

html,
body {
    overflow-x: hidden
}




.ips.home .contact {
    position: relative;
    overflow: hidden;
    margin-top: 46px;
    padding-bottom: 119px;
    background: url(../images/contact-box.png) no-repeat center bottom
}

@media only screen and (-webkit-min-device-pixel-ratio:1.3),
only screen and (-o-min-device-pixel-ratio:13/10),
only screen and (min-resolution:120dpi) {
    .ips.home .contact {
        background-image: url(../images/contact-box%402x.png);
        background-size: 630px 184px
    }
}

@media (max-width:666px) {
    .ips.home .contact {
        margin: 0 -20px;
        padding: 0 20px 48px;
        background: 0
    }
    .ips.home .contact .contact-form {
        position: relative;
        left: auto;
        box-sizing: border-box;
        margin-left: auto;
        width: 100%;
        box-shadow: none
    }
    .ips.home .contact .checkbox_field {
        display: none
    }
    .ips.home .contact .contact-form-container {
        overflow: visible;
        padding-bottom: 0;
        width: 100%
    }
    .ips.home .contact .contact-form-container:before {
        display: none
    }
    .ips.home .contact .thanks h3 {
        font-size: 18px
    }
}

.ips.home .contact-form-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 56px 0;
    width: 440px
}

.ips.home .contact-form-container:before {
    position: absolute;
    bottom: -4px;
    left: 50%;
    z-index: 30;
    margin-left: -230px;
    width: 460px;
    height: 2px;
    box-shadow: 0 0 3px black, 0 0 6px black, 0 0 12px #000;
    content: ''
}

.ips.home .form-container {
    z-index: 20
}

.ips.home .form-container.send {
    transform-origin: center center;
    animation: contactFormSend 1s cubic-bezier(0.19, .9, .63, .92);
    backface-visibility: hidden;
    perspective: 1000;
    animation-fill-mode: forwards
}

.ips.home .form-container.slide-out {
    transform-origin: center center;
    animation: contactFormSlideOut .42s ease-in;
    backface-visibility: hidden;
    perspective: 1000;
    animation-fill-mode: forwards
}

@media only screen and (-webkit-min-device-pixel-ratio:1.3),
only screen and (-o-min-device-pixel-ratio:13/10),
only screen and (min-resolution:120dpi) {
    .ips.home .form-container {
        background-image: url(../images/border-stripes%402x.png);
        background-size: 48px 6px
    }
}

.ips.home .thanks {
    position: absolute;
    right: 0;
    bottom: 240px;
    bottom: 190px;
    left: 0;
    z-index: 10;
    text-align: center
}

.ips.home .thanks h3 {
    color: #fff
}

@keyframes contactFormSend {
    0% {
        transform: translate(0, 0)
    }
    30% {
        transform: translate(0, -50px)
    }
    70% {
        transform: translate(0, -50px)
    }
    100% {
        transform: translate(0, 500px)
    }
}

@keyframes contactFormSlideOut {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(110%, 0)
    }
}
