.search {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: 4%;
    width: 600px;
}


svg {
    position: absolute;
    transform: translateX(-246px);
    width: 600px;
    height: auto;
    stroke-width: 8px;
    stroke: #e85657;
    stroke-width: 1px;
    stroke-dashoffset: 0;
    stroke-dasharray: 64.6 206.305;
    transition: all 0.5s ease-in-out;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.input-search {
    position: absolute;
    width: calc(100% - 148px);
    height: 64px;
    top: 0;
    right: 20px;
    bottom: 0;
    left: 0;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 20px;
    font-size: 50px;
}

.search-label {
    color: #e85657;
    position: absolute;
    display: block;
    width: 108px;
    height: 308px;
    top: 0;
    left: 50%;
    margin-left: -54px;
    z-index: 100;
    transition: 0.5s ease-in-out;
}

.isActive .search-label {
    transform: translateX(246px);
}

.isActive svg {
    stroke-dashoffset: -65;
    stroke-dasharray: 141.305 65;
    transform: translateX(0);
}

.isActive.full svg {
    stroke-dashoffset: -65;
    stroke-dasharray: 141.305 65;
    transform: translateX(0);
}

.full .search-label {
    transform: translateX(246px);
}

.full svg {
    stroke-dashoffset: 0;
    stroke-dasharray: 64.6 206.305;
    transform: translateX(0);
}


@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}